<label><input type="checkbox" [checked]="showHeroes"   (change)="showHeroes=!showHeroes">Heroes</label>
<label><input type="checkbox" [checked]="showVillains" (change)="showVillains=!showVillains">Villains</label>
<label><input type="checkbox" [checked]="showCars"     (change)="showCars=!showCars">Cars</label>

<h1>Hierarchical Dependency Injection</h1>
<app-hero-list-component *ngIf="showHeroes"></app-hero-list-component>
<app-vaillains-list *ngIf="showVillains"></app-vaillains-list>
<app-car-component *ngIf="showCars"></app-car-component>