<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet> -->
<!-- 
<h1>{{title}}</h1>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink='/heroes'>heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages> -->


<!-- <app-sizer [(size)]="fontSizePx"></app-sizer>
<div [style.font-size.px]="fontSizePx">Resizable Text</div>

<div appMySpy>woqu</div> -->

<!-- <app-hero-parent></app-hero-parent> -->

<!-- <app-voter-parent></app-voter-parent> -->

<!-- <app-drop-div></app-drop-div> -->
<!-- <app-adbanner [ads]="ads"></app-adbanner> -->

<!-- <app-adtesting [ads]='ads'></app-adtesting> -->

<!-- <p [appHighlight]='color'>这是一个属性指令</p> -->

<!-- <p *appAppUnless="condition" class="unless a">
    (A) This paragraph is displayed because the condition is false.
</p>

<p *appAppUnless="!condition" class="unless b">
    (B) Although the condition is true, this paragraph is displayed because appUnless is set to false.
</p>


<p>The hero's birthday is {{ birthday | date:format | uppercase}}</p>
<button (click)="toggleFormat()">Toggle Format</button> -->

<!-- <app-name-editor></app-name-editor> -->
<!-- <app-profile-editor></app-profile-editor> -->
<!-- <app-hero-form></app-hero-form> -->

<!-- <app-hero-form-template></app-hero-form-template> -->

<!-- <app-rn-hero-form></app-rn-hero-form> -->

<!-- <app-dynamic-form [questions]='questions'></app-dynamic-form> -->



<!-- <h1>app</h1>
<ul>
    <li *ngFor="let log of loggerService.getLogges()">{{ log }}</li>
</ul>
<button (click)="addLog()">AddLog</button>
<hr />

<app-parentservice></app-parentservice> -->


<!-- <h1>{{ title }}</h1>
<hr />
<app-message-parent></app-message-parent> -->

<!-- 
<h1>{{ title }}</h1>
<ul>
    <li *ngFor="let log of heroTestingService.getLogges()">{{ log }}</li>
</ul>
<button (click)="addLogTesting()">addLogs</button>
<hr />
<app-testing-rx></app-testing-rx>
<app-hero-testing></app-hero-testing> -->

<!-- <app-service-all></app-service-all> -->

<!-- <app-di-all-service></app-di-all-service> -->

<!-- <app-http-all-services></app-http-all-services> -->
<!-- 
<h1>Angular Router</h1>
<nav>
    <a routerLink='/crisis-center' routerLinkActive='active'>
    Crisis Center
   </a>
    <a routerLink='/heroes-list-test' routerLinkActive='active'>
    Heroes
   </a>
    <a routerLink="/superheroes" routerLinkActive="active">Heroes</a>
    <a [routerLink]="[{outlets:{popup:['compose']}}]">第二路有</a>
</nav>
<div [@routeAnimation]='getAnimationData(routerOutlet)'>
    <router-outlet #routerOutlet='outlet'></router-outlet>
</div>

<router-outlet name='popup'></router-outlet> -->

<!-- <app-life-testing [name]='title'></app-life-testing> -->
<router-outlet></router-outlet>